.SelectedFontItem {
  align-items: center;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.2s, opacity 0.2s;

}

.SelectedFontItem.active {
  height: 2.75rem;
  opacity: 1;
  transition: height 0.2s, opacity 0.2s;
}

.SelectedFontItem:last-child {
  margin: 0;
}

.SelectedFontItem .font-family {
  margin: 0 0 0 var(--space-lg);
}

.SelectedFontItem .btn {
  color: var(--red);
  margin: 0 var(--space-lg) 0 0;
  transition: color 0.1s ease-out, transform 0.1s ease-out;
}

.SelectedFontItem .btn:hover {
  transform: scale(1.2);
}
