.Background {
  margin: 0 var(--space-md);
  padding: var(--space-md) 0;
}

.Background .label {
  cursor: default;
  font-weight: 700;
  margin: 0 0 var(--space-xs) 0;
  text-transform: uppercase;
}
